<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="stylesheet" href="/assets/styles/skill.css">
    <title>Skill Tracker</title>
</head>
<body>
<section id="welcome">
    <h2>Welcome to Skill Tracker!</h2>
</section>

{{template "skill.gohtml" .Skill}}
</body>
</html>